<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.otm.mapper.StudentMapper">

    <resultMap type="com.asiainfo.otm.pojo.Student"
        id="studentResultMap">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="sex" column="sex" />
        <result property="age" column="age" />
        <association property="clazz" javaType="com.asiainfo.otm.pojo.Clazz">
        	<id property="id" column="id" />
	        <result property="code" column="code" />
	        <result property="name" column="name" />
        </association>
    </resultMap>

    <select id="selectStudentById" parameterType="int"
        resultMap="studentResultMap">
        SELECT * FROM tb_clazz c,tb_student s
        WHERE c.id = s.clazz_id
        AND s.id = #{id}
    </select>
    
    <select id="selectStudentByClazzId" parameterType="int" resultMap="studentResultMap">
    	select * from tb_student where clazz_id=#{id}
    </select>
</mapper>